// Media query mixin

@mixin mq($break) {
    @if $break == 'm' {
        @media (min-width: $break-m) {
            @content;
        }
    }
}

// Images mixin

@mixin image {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      max-width: 100%; 
    }
     
